.contorno{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding-top: 8%;
    padding-right: 10%;
    padding-bottom: 8%;
    padding-left: 10%;
}
.contorno{
    width: 100%;
    position: relative;
}
.contorno .slider-text .bread {
    font-weight: 100;
    color: #f8f9fa;
    font-size: 60px;
    font-family: "Lato", Arial, sans-serif;
    letter-spacing: 3px;

}

.list-group{
    max-height: 25em;
    margin-bottom: 10%;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 992px) {
    .contorno .slider-text .bread {
        font-size: 40px;
    }
  }

.fa-times{
    color: #ff0000;
    align-items: center;
    justify-content: center;
}

#cerca:hover, #aggiungiAnimale:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}


#cerca{
    margin-right: 8px !important;
}

#sel1{
    width:20%;
   
}

#breadcrumbs, #firstForm, #secondForm{
    display:inline-block;
}

.basesimbol:hover {
    color: blue;
}
